<!DOCTYPE html>    <!-- inheritance wasnt working with the tests for some reason SO I removed it/ base.html from all my templates due to time, however can be readded later-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul class ="navigation">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url "singup" %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                <li>
                    <a href="{% url "create_task" %}">Create a task!</a>
                </li>
                {% if tasks %}
                    <style>
                        table, th, td {
                            border: 1px solid black;
                        }
                    </style>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Is completed</th>
                                <tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                        <tr>
                                            <td>{{ task.name }}</td>
                                            <td>{{ task.start_date }}</td>
                                            <td>{{ task.end_date }}</td>
                                            <td>
                                                {% if task.is_completed %}
                                                    <p>Done</p>
                                                {% else %}
                                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="is_completed" value="True">
                                                        <button>Complete</button>
                                                    </form>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>







