{% load markdownify %}
<!DOCTYPE html>    <!-- inheritance wasnt working with the tests for some reason SO I removed it from all my templates due to time, however can be readded later-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul class ="navigation">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>{{ project.name }}</h1>
                <p> {{project.description }} </p>
                <h2> {{ project.task }} </h2>
                <!-- ^ this is probably wrong ^  feature 13 if you need reference to fix later-->

                {{ project.description|markdownify }}
                {% if project.tasks %} <!-- change this too ;o; -->
                    <table>
                        <thead>
                            <tr></tr>
                        </thead>
                    </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>







