<!DOCTYPE html>    <!-- inheritance wasnt working with the tests for some reason SO I removed it & base.html from all my templates due to time, however can be readded later-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul class ="navigation">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url "signup" %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            <div>
                {% if user.is_authenticated %}
                    <h1>My Projects</h1>

                    <p>
                        <a href= "{% url "create_project" %}">Create a new Project!</a>
                        <p>

                            {% if not project_list %}
                                <p>You are not assigned to any projects</p>
                            {% else %}
                                <style>
                                    table, th, td {
                                        border: 1px solid black;
                                    }
                                </style>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Number of tasks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for anything in project_list %}
                                            <tr>
                                                <td>
                                                    <a href="show_project" > {{ anything }} </a>
                                                </td>
                                                <td> {{ project.task }} </td>
                                                <!--you need the number of tasks here-->

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!--this table does not work properly, come back and fix later, also this is feature 5 if you need reference-->
                            {% endif %}
                {% endif %}
            </div>
        </main>
    </body>
</html>

